
<app-nav></app-nav>

<div>
    <router-outlet></router-outlet>
</div>

<app-footer></app-footer>

<!--  
2 |-- app
3      |-- modules
4        |-- home
5            |-- [+] components
6            |-- [+] pages
7            |-- home-routing.module.ts
8            |-- home.module.ts
9      |-- core
10        |-- [+] authentication
11        |-- [+] footer
12        |-- [+] guards
13        |-- [+] http
14        |-- [+] interceptors
15        |-- [+] mocks
16        |-- [+] services
17        |-- [+] header
18        |-- core.module.ts
19        |-- ensureModuleLoadedOnceGuard.ts
20        |-- logger.service.ts
21      |
22      |-- shared
23           |-- [+] components
24           |-- [+] directives
25           |-- [+] pipes
26           |-- [+] models
27      |
28      |-- [+] configs
29 |-- assets
30      |-- scss
31           |-- [+] partials
32           |-- _base.scss
33           |-- styles.scss
-->
